pyrogram==2.0.106
tgcrypto==1.2.5

aiohttp
aiofiles
beautifulsoup4
dnspython

motor
pymongo

python-dotenv
requests

yt-dlp
youtube-search-python==1.6.6

spotipy
speedtest-cli
pillow
psutil
pytz
