# Core
pyrofork==2.3.68
pyrogram==2.0.106
tgcrypto

# Voice Call (MOST IMPORTANT FIX)
pytgcalls==2.0.0

# Audio / Media
gTTS
ffmpeg-python
hachoir
pillow==10.2.0
opencv-python
yt-dlp

# Async / Network
aiofiles
aiohttp
httpx
requests
dnspython

# Utilities
numpy
pytz
psutil
python-dotenv
pyyaml
speedtest-cli
spotipy
telegraph
unidecode

# Telegram / Search
beautifulsoup4
youtube-search
youtube-search-python
py-yt-search
kurigram==2.1.35

# Database / Git
motor
gitpython
heroku3

