pyrogram==2.0.106
tgcrypto==1.2.5

aiohttp==3.9.3
aiofiles
beautifulsoup4
dnspython

motor==3.3.2
pymongo==4.6.1

python-dotenv==1.0.1
requests==2.31.0

yt-dlp
youtube-search-python
youtubesearchpython

spotipy
speedtest-cli

pillow==9.5.0
psutil
pytz
